    <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Details</title>
     <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <header>
        <div class="container">
            <a href="/" class="logo">Game Store</a>
            <input type="text" placeholder="Поиск...">
           <div class="auth-buttons">
               {% if 'username' in session %}
                    <a href="#" class="button secondary">{{ session['username'] }}</a>
                    <a href="{{ url_for('logout') }}" class="button primary">Выйти</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="button primary">Вход</a>
                    <a href="{{ url_for('register') }}" class="button secondary">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        <section class="game-details">
            <div class="container">
                <div class="game-image">
                    <img src="{{ url_for('static', filename='uploads/'+game.image_path) }}" alt="Game Cover">
                </div>
                <div class="game-info">
                    <h2>{{game.title}}</h2>
                    <p>Жанр: {{game.genre}}</p>
                    <p>Описание: {{game.description}}</p>
                    {% if session.get('user_id') %}
                    <form method="post" action="{{ url_for('buy_game', game_id=game.id) }}">
                       <button type="submit" class="button buy">Купить</button>
                    </form>
                    <a href="{{ url_for('download_game', game_id = game.id) }}" class="button secondary">Скачать</a>
                  {% endif %}
                    <h3>Системные требования:</h3>
                    <ul>
                        <li>ОС: Windows 10</li>
                        <li>Процессор: Intel Core i5</li>
                        <li>RAM: 8 GB</li>
                        <li>Видеокарта: NVIDIA GeForce GTX 1060</li>
                    </ul>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Game Store</p>
        </div>
    </footer>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>