        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Регистрация</title>
             <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        </head>
        <body>
        <header>
          <div class="container">
              <a href="/" class="logo">Game Store</a>
              <input type="text" placeholder="Поиск...">
              <div class="auth-buttons">
                  <a href="{{ url_for('login') }}" class="button primary">Вход</a>
              </div>
          </div>
        </header>
           <main>
               <div class="container">
            <h2>Регистрация</h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for category, message in messages %}
                                <li class="flash {{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% type="submit" class="button secondary">Зарегистрироваться</button>
             </form>
        </div>
           </main>
            <footer>
                <div class="container">
                    <p>&copy; 2024 Game Store</p>
                </div>
            </footer>
        </body>
        </html>